body, h1, h2, h3, p {
  font-family: 'Istok Web', sans-serif;
  color: #3A4C5C;
}

button {
  background-color: #0070CC;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  padding: 10px 10px;
}

h1 {
  font-size: 40px;
  margin-top: -9px;
}

h2 {
  font-size: 26px;
  margin-top: 0px;
}

button, p {
  font-size: 16px;
}

p.subheading {
  font-size: 20px;
  margin-bottom: 15px;
}

p.quote {
  font-style: italic;
}

p.quote-speaker {
  margin-bottom: 0px;
  color: #ABB3B9;
}

h2.pricing {
  color: #0070CC;
  margin-top: 30px;
  margin-bottom: 0px;
}

p.pricing-unit {
  color: #ABB3B9;
  margin-top: -10px;
}

p.plan-benefits {
  margin-top: 30px; 
  margin-bottom: 40.5px;
}

.boxed {
  border: 1px solid #ABB3B9;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.footer p{
  color: #ABB3B9;
  font-size: 14px;
  margin-top: 10px;
}

.footer i {
  color: #ABB3B9;
  font-size: 20px;
  padding: 10px;
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blue-bg {
  background-color: #E3F3FF;
}

.pricing-header {
  margin-top: 70px;
  margin-bottom: 0px;
}

.pricing-cta {
  margin-bottom: 21px;
}

#benefits {
  margin-top: 20px;
}

@media (min-width: 768px) {
h1 {
  font-size: 50px;
}

h2 {
  font-size: 33px;
}

button, p {
  font-size: 20px;
}

p.subheading {
  font-size: 25px;
}

.blue-bg {
  margin-top: 20px;
}

#benefits {
  margin-top: 50px;
}

.footer {
  margin-top: 100px;
  margin-bottom: 50px;
}

}

@media (min-width: 992px) {
h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

button, p {
  font-size: 24px;
}

p.subheading {
  font-size: 30px;
}

}