body {
  font-family: 'Istok Web', sans-serif;
  color: #3A4C5C;
}

button {
  background-color: #0070CC;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  padding: 10px 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  margin-top: 0px;
}

button, p {
  font-size: 16px;
}

p.subheading {
  font-size: 20px;
}

h2.pricing {
  color: #0070CC;
}

p.pricing-unit {
  color: #ABB3B9;
}

.boxed {
  border: 1px solid #ABB3B9;
}

.footer {
  color: #ABB3B9;
}

.footer i {
  font-size: 20px;
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blue-bg {
  background-color: #E3F3FF;
}

.quote-speaker {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
h1 {
  font-size: 50px;
}

h2 {
  font-size: 33px;
}

button, p {
  font-size: 20px;
}

p.subheading {
  font-size: 25px;
}

}

@media (min-width: 992px) {
h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

button, p {
  font-size: 24px;
}

p.subheading {
  font-size: 30px;
}

}